body {
  margin: 1%;
  background-color: #0e0e0e;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul {
  list-style: none;
}
.continer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #0e0e0e;
}
.navbrand {
  font-size: 1.7rem;
}
.nav-item {
  font-weight: 500;
  justify-content: center;
}
ul.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}
.nav-button button {
  width: 10em;
  height: 3em;
  color: #0e0e0e;
  background-color: #fff;
}
button > b {
  font-size: 2em;
}
.title {
  text-align: center;
  font-size: 5em;
}
.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em;
}
.pr {
  font-size: 1.5em;
  text-align: center !important;
}
.gallry {
  display: flex;
  margin: 10%;
  flex-wrap: wrap;
  gap: 5%;
  flex-direction: row;
  align-content: center;
  justify-content: start;
}
.gallry img {
  width: 100%;
}
.gallry h6 {
  text-align: center;
}
.card-1 {
  width: 30%;
}
.card-2 {
  width: 30%;
}
.card-3 {
  width: 30%;
}
.card-4 {
  width: 30%;
}
.card-5 {
  width: 30%;
}

.card-6 {
  width: 30%;
}
.card-7 {
  width: 30%;
}
.card-8 {
  width: 30%;
}
.card-9 {
  width: 30%;
}
.card-10 {
  width: 30%;
}
.card-11 {
  width: 30%;
}
.last-continer {
  background-color: #fff;
  color: #0e0e0e;
}
.img-txt {
  display: flex;
  align-content: center;
  justify-content: center;
}
.demo-imgs img {
  width: 30vw;
}
.txt3 {
  margin: 3% 0;
  padding: 30px 0;
}

.demo-imgs {
  display: flex;
  flex-direction: row;
  padding: 10%;
}
.demo-1 {
  position: absolute;
  box-shadow: 1px 1px 11px #88888873;
  border-radius: 8px;
}
.demo-2 {
  position: relative;
  margin: 210px 0 0 209px;
  box-shadow: 1px 1px 11px #88888873;
  border-radius: 8px;
}
.prr {
  margin-bottom: 3em;
  font-size: 1.3em;
  padding: 10%;
}
button {
  width: 10em;
  height: 3em;
}
.view {
  color: #fff;
  background-color: #0e0e0e;
}

.last-txt {
  font-size: 1.3em;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 3em;
}
.span{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1.4em;
}
.c1,
.c2,
.c3,
.c4 ,.c5,
.c6 {
width: 10em;
height: 10em;
background-color: #b7b7b7;
border-radius: 8px;
}
